div:hover {
    border-style: outset;
    border-color: darkgreen;
}
div:nth-last-of-type(1) {
    color: yellowgreen;
}
div:nth-last-of-type(2) {
    color: yellow;
}
div:nth-last-of-type(3) {
    color: tomato;
}
div:nth-last-of-type(4) {
    color: teal;
}
div:nth-last-of-type(5) {
    color: seagreen;
}
h3:lang(a) {
    background-color: skyblue;
}
h3:lang(b) {
    background-color: darkgray;
}
h3:lang(c) {
    background-color: tan;
}
h3:lang(d) {
    background-color: wheat;
}
h3:lang(e) {
    background-color:turquoise;
}
















/*Para o próximo exercício, você não deve atribuir nenhuma classe ou id aos componentes, mas apenas utilizar pseudoclasses para individualizar cada elemento!*/